.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 20vh;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
}